body
{
	color: rgb(102, 153, 255);
	background-color: rgb(0, 0, 0);
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
}

h1, h2, h3, h4, h5
{
	text-align: center;
}

#bannerImg
{
	background-image: url("http://hebrongeorge.com/siralim/fallout/images/blue/header_left.gif");
	width: 296px;
	height: 87px;
}

#list
{
   margin-left: auto;
   margin-right: auto;
   width: 60%;

   /* NOTE: Only works for non-floated block elements */
   display: block;
   float: none;
}

#subUsers
{
	position:absolute;
	padding-left: 10px;
}

.textbox
{
	background-color: gray; /*rgb(76, 135, 237); */
}

.menu-item
{
	float: right;
    padding-left:10px;
    padding-right:10px;
    background-color: gray;
    border: dotted;	
}

a, a:visited
{
	color:white;
}